## Q1) Read and explore the given dataset.  ( Rename column/add headers, plot histograms, find data characteristics)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter
import sklearn.model_selection
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score
from surprise import KNNBasic, SVD, SVDpp, SlopeOne, NMF, NormalPredictor, KNNBaseline, \
KNNWithMeans, KNNWithZScore, BaselineOnly, CoClustering,evaluate, Reader, dataset, accuracy
from __future__ import (absolute_import, division, print_function,
                        unicode_literals)
from surprise.model_selection import train_test_split

In [6]:
ratings_df = pd.read_csv("mine/ratings_Electronics.csv")

In [9]:
ratings_df.sample(5)

          AKM1MP6P0OYPR  0132793040  5.0  1365811200
3296205   ANIZWD1EXXGAI  B003ELYQGG  4.0  1351555200
1620775   AG35JCCQWDRCS  B0012WXFO8  5.0  1375920000
739698   A32E87FU6973FF  B000B9O83A  3.0  1205539200
952849    AS5U0DWZLF00Y  B000FUOSF8  1.0  1405468800
314873   A31R3ZYX2OT7FI  B0000ADY4L  4.0  1069545600

In [8]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824481 entries, 0 to 7824480
Data columns (total 4 columns):
AKM1MP6P0OYPR    object
0132793040       object
5.0              float64
1365811200       int64
dtypes: float64(1), int64(1), object(2)
memory usage: 238.8+ MB

In [10]:
ratings_df.columns = ['userID', 'itemID', 'rating', 'timestamp']

In [11]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7824481 entries, 0 to 7824480
Data columns (total 4 columns):
userID       object
itemID       object
rating       float64
timestamp    int64
dtypes: float64(1), int64(1), object(2)
memory usage: 238.8+ MB

In [12]:
ratings_df.head()

           userID      itemID  rating   timestamp
0  A2CX7LUOHB2NDG  0321732944     5.0  1341100800
1  A2NWSAGRHCP8N5  0439886341     1.0  1367193600
2  A2WNBOD3WNDNKT  0439886341     3.0  1374451200
3  A1GI0U4ZRJA8WN  0439886341     1.0  1334707200
4  A1QGNMC6O1VW39  0511189877     5.0  1397433600

## Q2) Take a subset of the dataset to make it less sparse/ denser. ( For example, keep the users only who has given 50 or more number of ratings )

In [13]:
user_filter = ratings_df.groupby("userID").agg({"rating":"count"})>=50

In [14]:
user_filter.head()

                       rating
userID
A00000262KYZUE4J55XGL   False
A000063614T1OE0BUSKUT   False
A00009182QVLSWIGHLS1B   False
A00009661LC9LQPGKJ24G   False
A00010809P09NUU6ZP6H    False

In [15]:
print("Total Number of users are {}".format(user_filter.shape[0]))

Total Number of users are 4201696

In [16]:
user_filter_50 = user_filter[user_filter["rating"] == True]

In [17]:
user_filter_50.shape

(1540, 1)

In [18]:
user_filter_50 = user_filter_50.reset_index()

In [19]:
ratings_df_filtered = ratings_df[ratings_df["userID"].isin(user_filter_50["userID"])]

In [20]:
ratings_df_filtered.shape

(125871, 4)

In [21]:
ratings_df_filtered.head()

             userID      itemID  rating   timestamp
93   A3BY5KCNQZXV5U  0594451647     5.0  1390176000
117   AT09WGFUM934H  0594481813     3.0  1377907200
176  A32HSNCNPRUMTR  0970407998     1.0  1319673600
177  A17HMM1M7T9PJ1  0970407998     4.0  1281744000
491  A3CLWR1UUZT6TG  0972683275     5.0  1373587200

In [22]:
ratings_df_filtered.drop("timestamp", axis=1, inplace=True)

C:\Users\kumar\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [23]:
ratings_df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 125871 entries, 93 to 7824443
Data columns (total 3 columns):
userID    125871 non-null object
itemID    125871 non-null object
rating    125871 non-null float64
dtypes: float64(1), object(2)
memory usage: 3.8+ MB

In [24]:
product_frequency = Counter(ratings_df_filtered["itemID"])

In [25]:
product_frequency = sorted(product_frequency.items(), key=lambda x: x[1],reverse=True)

In [26]:
product_frequency

[('B0088CJT4U', 206),
 ('B003ES5ZUU', 184),
 ('B000N99BBC', 167),
 ('B007WTAJTO', 164),
 ('B00829TIEK', 149),
 ('B00829THK0', 137),
 ('B008DWCRQW', 137),
 ('B002R5AM7C', 128),
 ('B004CLYEDC', 118),
 ('B002SZEOLG', 113),
 ('B00834SJNA', 110),
 ('B004T9RR6I', 109),
 ('B002V88HFE', 106),
 ('B0034CL2ZI', 106),
 ('B00834SJSK', 101),
 ('B002WE6D44', 100),
 ('B00829TIA4', 99),
 ('B004CLYEFK', 97),
 ('B009SYZ8OC', 95),
 ('B0079UAT0A', 92),
 ('B0019EHU8G', 90),
 ('B005CT56F8', 87),
 ('B000QUUFRW', 84),
 ('B00DR0PDNE', 84),
 ('B00HFRWWAM', 82),
 ('B005FYNSPK', 81),
 ('B004CLYEE6', 80),
 ('B0041Q38NU', 79),
 ('B001TH7GUU', 78),
 ('B00ARB5FLQ', 78),
 ('B002SQK2F2', 77),
 ('B005HMKKH4', 77),
 ('B0015DYMVO', 76),
 ('B004CLYEH8', 76),
 ('B00AQRUW4Q', 76),
 ('B003M0NURK', 74),
 ('B005CLPP84', 74),
 ('B00004ZCJE', 72),
 ('B000LRMS66', 71),
 ('B000VX6XL6', 70),
 ('B001E1Y5O6', 70),
 ('B001XURP7W', 69),
 ('B00BOHNYTW', 69),
 ('B0002L5R78', 67),
 ('B001CHHVCU', 67),
 ('B00884WH74', 66),
 ('B000JMJWV2', 64),
 ('B004QK7HI8', 64),
 ('B0082E9K7U', 64),
 ('B009NHWVIA', 63),
 ('B00BOHNYU6', 63),
 ('B001TH7GSW', 61),
 ('B0074BW614', 61),
 ('B00007E7JU', 60),
 ('B002QEBMAK', 60),
 ('B005QCDY50', 60),
 ('B000Q8UAWY', 59),
 ('B00BGGDVOO', 58),
 ('B005DKZTMG', 57),
 ('B006W8U2MU', 57),
 ('B00G4UQ6U8', 55),
 ('B000BQ7GW8', 54),
 ('B002WE4HE2', 54),
 ('B004Q3R9AQ', 54),
 ('B0081FLFQE', 54),
 ('B0097CXWUW', 54),
 ('B001TOD7ME', 53),
 ('B00829THEG', 53),
 ('B000JE7GPY', 52),
 ('B004GUT1QO', 52),
 ('B0063705PE', 52),
 ('B0097CZHAU', 52),
 ('B000HPV3RW', 51),
 ('B006I5MKZY', 51),
 ('B003LSTD38', 50),
 ('B009HQCAPQ', 50),
 ('B00JP12170', 50),
 ('B003ES5ZSW', 49),
 ('B004G6002M', 49),
 ('B004TKTOWC', 49),
 ('B0052SCU8U', 49),
 ('B00CB2F65O', 49),
 ('B0043T7FXE', 48),
 ('B004W2JKWG', 48),
 ('B008H9BXMK', 48),
 ('B00CL8F98W', 48),
 ('B00E3W15P0', 48),
 ('B00FLZ2F5W', 48),
 ('B000FBK3QK', 47),
 ('B005GM1Q1O', 47),
 ('B007BY0MIS', 47),
 ('B007I5JT4S', 47),
 ('B0088PPFP4', 47),
 ('B00CD8ADKO', 47),
 ('B002HWRJBM', 46),
 ('B002V8C3W2', 46),
 ('B00634PLTW', 46),
 ('B008X9ZBVI', 46),
 ('B009OZUPUC', 46),
 ('B002UT42UI', 45),
 ('B006DEBYWU', 45),
 ('B006EKIQYM', 45),
 ('B007Q8GOGI', 45),
 ('B00829THVO', 45),
 ('B00BQ4F9ZA', 45),
 ('B00DQZOD8Q', 45),
 ('B0000BZL1P', 44),
 ('B004CLYE8C', 44),
 ('B00825BZUY', 44),
 ('B009HQCARY', 44),
 ('B00017LSPI', 43),
 ('B00119T6NQ', 43),
 ('B001F51G16', 42),
 ('B002KC55OM', 42),
 ('B002TLTGM6', 42),
 ('B0036Q7MV0', 42),
 ('B005I6EU48', 42),
 ('B007PTCFFW', 42),
 ('B008ULPAT2', 42),
 ('B00HSQAIQU', 42),
 ('B000067RT6', 41),
 ('B00009XVCZ', 41),
 ('B002K9IHGI', 41),
 ('B003ELYQGG', 41),
 ('B004MSQZUU', 41),
 ('B004SBBD8U', 41),
 ('B008ULPE70', 41),
 ('B008X9Z528', 41),
 ('B008X9Z7N0', 41),
 ('B000CKVOOY', 40),
 ('B000S5Q9CA', 40),
 ('B001TH7T2U', 40),
 ('B002Y6CJJ8', 40),
 ('B003CFATT2', 40),
 ('B00483WRZ6', 40),
 ('B0097BEFYA', 40),
 ('B00EXPNFQO', 40),
 ('B002J9HBIO', 39),
 ('B002MCZJ78', 39),
 ('B003M8HWDA', 39),
 ('B004GCJEZU', 39),
 ('B006GWO5WK', 39),
 ('B007R5YDYA', 39),
 ('B008X9Z8NE', 39),
 ('B00B588HY2', 39),
 ('B00E055H5O', 39),
 ('B000MX48VM', 38),
 ('B001CIREXA', 38),
 ('B00316263Y', 38),
 ('B004N6259G', 38),
 ('B004XC6GJ0', 38),
 ('B0079TOEQQ', 38),
 ('B008EQZ25K', 38),
 ('B00B46XUQU', 38),
 ('B00EOE4G4E', 38),
 ('B00HFAEBWG', 38),
 ('B00429N18S', 37),
 ('B004TPJKEY', 37),
 ('B007BJHETS', 37),
 ('B00DR8LA60', 37),
 ('B00F3F0EIU', 37),
 ('B00JC5Y6WM', 37),
 ('B000CRFOMK', 36),
 ('B00109Y2DQ', 36),
 ('B002HWRJY4', 36),
 ('B002ZIMEMW', 36),
 ('B00452V66G', 36),
 ('B006RG0QC8', 36),
 ('B00DDK1QUC', 36),
 ('B00DR8LAE2', 36),
 ('B00HPM1FZ0', 36),
 ('B000AZ57M6', 35),
 ('B001TH7GVE', 35),
 ('B002MAPRYU', 35),
 ('B004CZ9U96', 35),
 ('B007OY5V68', 35),
 ('B00FSA8VQ2', 35),
 ('B00007KDVI', 34),
 ('B000A6PPOK', 34),
 ('B0026ZPFCK', 34),
 ('B004GF8TIK', 34),
 ('B004RORMF6', 34),
 ('B007Q8GOHM', 34),
 ('B008EQYRRY', 34),
 ('B008MF3X9K', 34),
 ('B00A7PPLP2', 34),
 ('B00BWL33H8', 34),
 ('B00DVFLJDS', 34),
 ('B00G6CLNCK', 34),
 ('B000Z80ICM', 33),
 ('B0015AARJI', 33),
 ('B001AYW91I', 33),
 ('B001S4OTS6', 33),
 ('B002C7481G', 33),
 ('B002YU83YO', 33),
 ('B002ZCXJZE', 33),
 ('B00426C57O', 33),
 ('B005KG44V0', 33),
 ('B006WVR9GY', 33),
 ('B009LL9VDG', 33),
 ('B00D1GYNT4', 33),
 ('B00D5Q75RC', 33),
 ('B00E87E1OM', 33),
 ('B00E98O7GC', 33),
 ('B00G4V0QSK', 33),
 ('B00IL7B2YM', 33),
 ('B000O8WE66', 32),
 ('B000V1MLBE', 32),
 ('B0013FRNKG', 32),
 ('B001QUA6R0', 32),
 ('B003RRYAXQ', 32),
 ('B003Y74AXO', 32),
 ('B004TJ6JH6', 32),
 ('B0088PUEPK', 32),
 ('B009VV56TY', 32),
 ('B00AJHDZSI', 32),
 ('B00D6XW62I', 32),
 ('B00DTZYHX4', 32),
 ('B00F0DD0I6', 32),
 ('B00FH66AW4', 32),
 ('B00005LEN4', 31),
 ('B00005T3G0', 31),
 ('B00006RVPW', 31),
 ('B000EVSLRO', 31),
 ('B001F7AHOG', 31),
 ('B001QUA6RA', 31),
 ('B002BH3Z8E', 31),
 ('B0039BPG1A', 31),
 ('B004QK8FBG', 31),
 ('B005HTIWF4', 31),
 ('B005QUQP6W', 31),
 ('B006LW0W5Y', 31),
 ('B006TT91TW', 31),
 ('B00E5UHRIO', 31),
 ('B00HPM1G8Q', 31),
 ('B00IVFDZBC', 31),
 ('B00007EDZG', 30),
 ('B00029U1DK', 30),
 ('B001FA1NK0', 30),
 ('B001MSU1FS', 30),
 ('B001UI2FPE', 30),
 ('B002JCSCYS', 30),
 ('B002JQNXZC', 30),
 ('B003ES5ZR8', 30),
 ('B003UE52ME', 30),
 ('B004NY9UV4', 30),
 ('B006ZBWV0K', 30),
 ('B007P4VOWC', 30),
 ('B0081H8TRA', 30),
 ('B008X9Z3UC', 30),
 ('B0093HAWZY', 30),
 ('B00AR95FOU', 30),
 ('B00DIOALPE', 30),
 ('B00EMHVVLY', 30),
 ('B00F9ZQQ8Q', 30),
 ('B00G6CLN3Y', 30),
 ('B00JF0D7RE', 30),
 ('B00006JN3G', 29),
 ('B000RZQZM0', 29),
 ('B001GS8FZ2', 29),
 ('B002TLTE6O', 29),
 ('B003L1ZYZ6', 29),
 ('B003NR57BY', 29),
 ('B003VAGXWK', 29),
 ('B0041OSQB6', 29),
 ('B0053NBLFW', 29),
 ('B005DOK8NW', 29),
 ('B009NHAEXE', 29),
 ('B00B4OCWE8', 29),
 ('B00BEGS4R0', 29),
 ('B00D3F7D7M', 29),
 ('B00DR6DQZA', 29),
 ('B00FRMAOIO', 29),
 ('B00G024X32', 29),
 ('B00GMGDFPI', 29),
 ('B00GRNUO2I', 29),
 ('B00006B7DA', 28),
 ('B0002CPBWI', 28),
 ('B001NJ0D0Y', 28),
 ('B001OOZ1X2', 28),
 ('B001TUYTZM', 28),
 ('B002NEGTTW', 28),
 ('B002TLTE6Y', 28),
 ('B0034XRDUA', 28),
 ('B003VANO7C', 28),
 ('B003XE3X8Q', 28),
 ('B004ELA0SS', 28),
 ('B004J4VYEY', 28),
 ('B0058UUR6E', 28),
 ('B005GOINEK', 28),
 ('B005IMFX2K', 28),
 ('B006JH8T3S', 28),
 ('B007ZZ6OW6', 28),
 ('B00894YP00', 28),
 ('B008I21EA2', 28),
 ('B008JJLW4M', 28),
 ('B0092MD8OW', 28),
 ('B009YQ8BTI', 28),
 ('B00ADG5FLK', 28),
 ('B00B99JU5M', 28),
 ('B00EMHVVNM', 28),
 ('B00ENZRS76', 28),
 ('B00EOI2SR2', 28),
 ('B00GO1UV4E', 28),
 ('B00093IIRA', 27),
 ('B000I68BD4', 27),
 ('B000R9AAJA', 27),
 ('B0011NVMO8', 27),
 ('B0011U65F2', 27),
 ('B001D7REIK', 27),
 ('B001F7AJKI', 27),
 ('B001T9NUJE', 27),
 ('B002RM08RE', 27),
 ('B002VPE1WK', 27),
 ('B003VAHYNC', 27),
 ('B003XIJ3MW', 27),
 ('B0041OSQ9I', 27),
 ('B0042FZ50O', 27),
 ('B0043M668G', 27),
 ('B004Q3R9B0', 27),
 ('B004WIUDGM', 27),
 ('B005ARQV6U', 27),
 ('B005FVNHBI', 27),
 ('B005X9XVNQ', 27),
 ('B00622AG6S', 27),
 ('B007X3VC7W', 27),
 ('B009YT6PPC', 27),
 ('B00BQ5RY1G', 27),
 ('B00CXADBRY', 27),
 ('B00DBX371C', 27),
 ('B00E0EY7Z6', 27),
 ('B00EVIBN26', 27),
 ('B00FNPD1OY', 27),
 ('B00HRQB28Y', 27),
 ('B00HVT27B8', 27),
 ('B00081A2KY', 26),
 ('B0009Y7APU', 26),
 ('B000BKJZ9Q', 26),
 ('B000KO0GY6', 26),
 ('B000M17AVO', 26),
 ('B000M2TAN4', 26),
 ('B000OGX5AM', 26),
 ('B000TKHBDK', 26),
 ('B000U5TUWE', 26),
 ('B001D60LG8', 26),
 ('B001HSOFI2', 26),
 ('B001PIBE8I', 26),
 ('B0027VT6V4', 26),
 ('B0035JJJQY', 26),
 ('B0038W0K2K', 26),
 ('B003FVVMS0', 26),
 ('B003HFCDLY', 26),
 ('B003WUBIZQ', 26),
 ('B004E10KFG', 26),
 ('B005CLPP8E', 26),
 ('B005DSPLCQ', 26),
 ('B005ES0YYA', 26),
 ('B005KOZNBW', 26),
 ('B006QB1RPY', 26),
 ('B0071BTJPI', 26),
 ('B008C1JC4O', 26),
 ('B009QV72VY', 26),
 ('B009WZRCO6', 26),
 ('B00D429Y12', 26),
 ('B00DT04I9W', 26),
 ('B00EAR8S76', 26),
 ('B00EPQ97C2', 26),
 ('B00K91DB7Y', 26),
 ('B000089GN3', 25),
 ('B0007MXZB2', 25),
 ('B000HDJT4S', 25),
 ('B000L47AHG', 25),
 ('B0012S4APK', 25),
 ('B001DJ64D4', 25),
 ('B00275XTSQ', 25),
 ('B0028Y4CWI', 25),
 ('B002BH3I9U', 25),
 ('B002SGATH8', 25),
 ('B003FVJYF8', 25),
 ('B003NSBF32', 25),
 ('B003VAGXZC', 25),
 ('B003YKG2XM', 25),
 ('B004I5BUSO', 25),
 ('B004IZN3WU', 25),
 ('B004YHXXKO', 25),
 ('B0057UUB1G', 25),
 ('B0076POAI0', 25),
 ('B008X9Z9ZQ', 25),
 ('B009A6CZ30', 25),
 ('B009AR2MQO', 25),
 ('B009D79VH4', 25),
 ('B00BE68UZ6', 25),
 ('B00BSEV682', 25),
 ('B00CKAOJA0', 25),
 ('B00E6ONJJU', 25),
 ('B00FQQ4PNQ', 25),
 ('B00IX2VGFA', 25),
 ('B00007GQLU', 24),
 ('B00009R6TA', 24),
 ('B000652M6Y', 24),
 ('B00066IJPQ', 24),
 ('B000TG4BA0', 24),
 ('B000X24ISU', 24),
 ('B001G5ZTLS', 24),
 ('B001KELVS0', 24),
 ('B001LK8P14', 24),
 ('B001OC6DCW', 24),
 ('B001V9KG0I', 24),
 ('B001V9LPT4', 24),
 ('B001VFUN82', 24),
 ('B0025ZH43O', 24),
 ('B003DZ165W', 24),
 ('B003FMVCRU', 24),
 ('B003XU6H8I', 24),
 ('B003YH9EZ8', 24),
 ('B0043WJRRS', 24),
 ('B00461E7JE', 24),
 ('B0046TJG1U', 24),
 ('B004GK0GKO', 24),
 ('B004S4R5CK', 24),
 ('B005DOUJL8', 24),
 ('B005L38VPC', 24),
 ('B005NFG1MS', 24),
 ('B006JINHYS', 24),
 ('B007PJ4PKK', 24),
 ('B008ULPD0S', 24),
 ('B00931DHKM', 24),
 ('B009PK9S90', 24),
 ('B00A3YDT5Q', 24),
 ('B00ALN54KM', 24),
 ('B00BWHILCY', 24),
 ('B00C8OT7FK', 24),
 ('B00CD1FB26', 24),
 ('B00DIFIM36', 24),
 ('B00DTPYQBM', 24),
 ('B00F6E8OUS', 24),
 ('B00FFZD51Q', 24),
 ('B00JC5Y6YA', 24),
 ('B00006I53S', 23),
 ('B0013FW8XS', 23),
 ('B001FWBUUG', 23),
 ('B001TZWNF0', 23),
 ('B0025VKUQQ', 23),
 ('B002SIMPXM', 23),
 ('B002VPE1QG', 23),
 ('B002VPE1Z2', 23),
 ('B002WE0QN8', 23),
 ('B003XN24GY', 23),
 ('B0043CVH2Q', 23),
 ('B0049P6OTI', 23),
 ('B004LSNF04', 23),
 ('B004Q0PT3I', 23),
 ('B005EOWBHC', 23),
 ('B005FDXMJS', 23),
 ('B005FVNGRI', 23),
 ('B00691WMJG', 23),
 ('B00746LVOM', 23),
 ('B007FPIQ0E', 23),
 ('B008LCYIEI', 23),
 ('B008OHNZI0', 23),
 ('B008Y1KK6Q', 23),
 ('B00902SFC4', 23),
 ('B00AYTW80M', 23),
 ('B00CHT6CRC', 23),
 ('B00COF7DGS', 23),
 ('B00EMB4LU8', 23),
 ('B00I3YKEKG', 23),
 ('B00007IFED', 22),
 ('B0001Y7UAI', 22),
 ('B000NP3DJW', 22),
 ('B000VE2RP6', 22),
 ('B0012MMW7E', 22),
 ('B001CCAISE', 22),
 ('B001FA1O18', 22),
 ('B0023B14TK', 22),
 ('B0035JJJQE', 22),
 ('B003MAJMXQ', 22),
 ('B004DMNT2W', 22),
 ('B0056TYRMW', 22),
 ('B005CG2ATQ', 22),
 ('B005EOWBKE', 22),
 ('B005LFT3GG', 22),
 ('B005VTIMEQ', 22),
 ('B006ZP8UOW', 22),
 ('B007G5NNOW', 22),
 ('B007PJ4P4G', 22),
 ('B00871SR68', 22),
 ('B008ULPA2O', 22),
 ('B009F7IBZK', 22),
 ('B009NB8WR0', 22),
 ('B00AQUO5RI', 22),
 ('B00D4MFPLA', 22),
 ('B00DUTIZJG', 22),
 ('B00E8CF0CE', 22),
 ('B00IORDBPC', 22),
 ('B00004SB92', 21),
 ('B0000X0VCY', 21),
 ('B0001FTVEK', 21),
 ('B000233WJ6', 21),
 ('B0002LEMWE', 21),
 ('B000F9YN22', 21),
 ('B000HJPK2C', 21),
 ('B000O8I474', 21),
 ('B000UY1MB2', 21),
 ('B000W6POQW', 21),
 ('B0011Z44UA', 21),
 ('B00168BSEW', 21),
 ('B0018O9JIG', 21),
 ('B001DJ9GOS', 21),
 ('B001DULYZG', 21),
 ('B001G1ZPV6', 21),
 ('B001UFYFYG', 21),
 ('B002KKFP9Y', 21),
 ('B002RL875A', 21),
 ('B002VPE1Q6', 21),
 ('B0035JJJPU', 21),
 ('B003G2Z1M6', 21),
 ('B003I4FHNA', 21),
 ('B003VAM32E', 21),
 ('B003YKG2W8', 21),
 ('B0040JHVC2', 21),
 ('B0044YU60M', 21),
 ('B0046HAO40', 21),
 ('B00486MH80', 21),
 ('B004J3V90Y', 21),
 ('B004XNLR16', 21),
 ('B004XZHY34', 21),
 ('B005D5M136', 21),
 ('B005HY4U5A', 21),
 ('B005I7X3RC', 21),
 ('B005KFONIU', 21),
 ('B007PRHNHO', 21),
 ('B007RFW1NA', 21),
 ('B008OEHV6U', 21),
 ('B009USAJCC', 21),
 ('B009WG6LLA', 21),
 ('B00AW48DS0', 21),
 ('B00BP5KOPA', 21),
 ('B00BQ5RYI4', 21),
 ('B00BUACE8K', 21),
 ('B00BW6KCTU', 21),
 ('B00BZC31WQ', 21),
 ('B00D68ZVY8', 21),
 ('B00DK2JQOQ', 21),
 ('B00DQZQPNM', 21),
 ('B00EAXRVLY', 21),
 ('B00EUFP39E', 21),
 ('B00FFJ0HUE', 21),
 ('B00GBATPFO', 21),
 ('B00GC1ZMYA', 21),
 ('B00077AA5Q', 20),
 ('B000BTL0OA', 20),
 ('B000F7QRTG', 20),
 ('B000IF51UQ', 20),
 ('B000M2GYF6', 20),
 ('B000VZS2EU', 20),
 ('B000WYVBR0', 20),
 ('B0012GK3MQ', 20),
 ('B0012Y2LLE', 20),
 ('B0013DXVYK', 20),
 ('B0017JY5FE', 20),
 ('B0017TFVUW', 20),
 ('B001L6LG5K', 20),
 ('B0021Y73W6', 20),
 ('B002FYL7PG', 20),
 ('B002IC0YL8', 20),
 ('B002LLJJAS', 20),
 ('B002RCNX8K', 20),
 ('B002TMRZOQ', 20),
 ('B003B4CU3M', 20),
 ('B003BLQHN4', 20),
 ('B003ELOSIW', 20),
 ('B003VANOI6', 20),
 ('B003ZBZ64Q', 20),
 ('B0041MY32Y', 20),
 ('B0049U3TVE', 20),
 ('B004WK3U9W', 20),
 ('B005A0B7CA', 20),
 ('B0064XAIZY', 20),
 ('B006OZEIKS', 20),
 ('B006TF3746', 20),
 ('B006U3O566', 20),
 ('B0073FE1F0', 20),
 ('B007B6YPAW', 20),
 ('B007W7PK04', 20),
 ('B008RJZQSW', 20),
 ('B008ULPCB8', 20),
 ('B008X9Z6EA', 20),
 ('B009NUK6S4', 20),
 ('B009PK2MNY', 20),
 ('B00AAIPT76', 20),
 ('B00ATM1MHO', 20),
 ('B00BGA9WK2', 20),
 ('B00BQHD4B8', 20),
 ('B00BWF5U0M', 20),
 ('B00CIRLJPI', 20),
 ('B00D65AJ0C', 20),
 ('B00EDCF0MY', 20),
 ('B00EFE9OAE', 20),
 ('B00FG38L16', 20),
 ('B00FJRS5BA', 20),
 ('B00FJWKYYG', 20),
 ('B00GDL2PPI', 20),
 ('B00GY0UFFA', 20),
 ('B00004T8R2', 19),
 ('B00007M1TZ', 19),
 ('B0000BVYTV', 19),
 ('B0002Y5WZM', 19),
 ('B0007QKMQY', 19),
 ('B000E6G9RI', 19),
 ('B000F34FVM', 19),
 ('B000FQ2JLW', 19),
 ('B000KI81XK', 19),
 ('B000V5P90K', 19),
 ('B000VY2BC0', 19),
 ('B0014J07R2', 19),
 ('B0016O8HP4', 19),
 ('B00192KCAG', 19),
 ('B001EYV9TM', 19),
 ('B001F42MKG', 19),
 ('B001NS0OZ4', 19),
 ('B001O4EPHA', 19),
 ('B001P05NBA', 19),
 ('B001PUQ7PG', 19),
 ('B001SJVU24', 19),
 ('B001TANZ0W', 19),
 ('B002G1YPH0', 19),
 ('B002IO2UM2', 19),
 ('B002LARRDK', 19),
 ('B002MMY4WY', 19),
 ('B002TLTE7I', 19),
 ('B002VPE1X4', 19),
 ('B002W3IXZW', 19),
 ('B003CJTQJC', 19),
 ('B003FSTAFK', 19),
 ('B003MTTJOY', 19),
 ('B003UT6C9G', 19),
 ('B003WV5DJC', 19),
 ('B003XM1WE0', 19),
 ('B004CLYJ1Y', 19),
 ('B004HHICKC', 19),
 ('B004K1EZDS', 19),
 ('B004P8K24W', 19),
 ('B004Q0T0LU', 19),
 ('B004ZMV2GA', 19),
 ('B00511PS3C', 19),
 ('B0053R0WWG', 19),
 ('B0054YF0C0', 19),
 ('B005FDXZJU', 19),
 ('B0062EUE54', 19),
 ('B006TF37H8', 19),
 ('B006YTZUA6', 19),
 ('B006ZT4VA0', 19),
 ('B00746W3HG', 19),
 ('B0079TOI8K', 19),
 ('B007AHJNF4', 19),
 ('B007KZQM8W', 19),
 ('B007W7PIZ6', 19),
 ('B008MDSWI4', 19),
 ('B008R7EVE4', 19),
 ('B008ULPBJG', 19),
 ('B008X9Z44M', 19),
 ('B0093H4VSS', 19),
 ('B0099SMFP2', 19),
 ('B009EIUH6G', 19),
 ('B009SQQF9C', 19),
 ('B009T0NFTA', 19),
 ('B00A0JUNWQ', 19),
 ('B00A1DJO12', 19),
 ('B00A35WYBA', 19),
 ('B00A9NE84C', 19),
 ('B00AYQ433U', 19),
 ('B00CGY4JBY', 19),
 ('B00CJRZ31S', 19),
 ('B00CMJZAOI', 19),
 ('B00DQZPCTA', 19),
 ('B00DR0C96S', 19),
 ('B00EOI2TD0', 19),
 ('B00G4FCHH4', 19),
 ('B00G5RDU5O', 19),
 ('B00GEBTFNM', 19),
 ('B00HGLOQ24', 19),
 ('B00HMREOLK', 19),
 ('B00004WCIC', 18),
 ('B000068O3C', 18),
 ('B0000AI0N1', 18),
 ('B0002SQ2P2', 18),
 ('B0002Y5WXE', 18),
 ('B0007Y794O', 18),
 ('B000BN94F8', 18),
 ('B000HCT12O', 18),
 ('B000Q82PIQ', 18),
 ('B000TXZIDM', 18),
 ('B0016BVKAQ', 18),
 ('B001C271MA', 18),
 ('B001DJ64C0', 18),
 ('B001ENW61I', 18),
 ('B001F7HLRC', 18),
 ('B001FA1O0O', 18),
 ('B001NJ0WCS', 18),
 ('B001S2PPT0', 18),
 ('B001TK3ACA', 18),
 ('B001TODUXA', 18),
 ('B001VEIYAC', 18),
 ('B00212NO6W', 18),
 ('B0025VKUPW', 18),
 ('B002BA596W', 18),
 ('B002IC0YLS', 18),
 ('B002JMYCTC', 18),
 ('B002JPITXY', 18),
 ('B002KETE24', 18),
 ('B002LLK5CO', 18),
 ('B002M78L6E', 18),
 ('B002NO7PWC', 18),
 ('B002O3W2OI', 18),
 ('B002QQ7TLY', 18),
 ('B002VPDM2A', 18),
 ('B002VPE1XY', 18),
 ('B002VPE1YS', 18),
 ('B00310PJM0', 18),
 ('B0035FZJHQ', 18),
 ('B0039NLS3I', 18),
 ('B003X26LXW', 18),
 ('B003YKG2UK', 18),
 ('B003Z4G3I6', 18),
 ('B0040702HA', 18),
 ('B0040QE98O', 18),
 ('B0041L3JS4', 18),
 ('B004286VMW', 18),
 ('B004J4VYG2', 18),
 ('B004MF11MU', 18),
 ('B004N625B4', 18),
 ('B004VM0SE6', 18),
 ('B0057OCDQS', 18),
 ('B005DIQ2OC', 18),
 ('B005KELR3A', 18),
 ('B005KP473Q', 18),
 ('B005O88CY4', 18),
 ('B005QX7KYU', 18),
 ('B006K550J0', 18),
 ('B007KZQM9G', 18),
 ('B007PJ4Q4A', 18),
 ('B007SHJIO2', 18),
 ('B00832NCWU', 18),
 ('B0089E5R0W', 18),
 ('B008ZGKWQI', 18),
 ('B0099SMFVQ', 18),
 ('B009T0NLYO', 18),
 ('B009X01C64', 18),
 ('B00A0JUNYY', 18),
 ('B00AXVXXNC', 18),
 ('B00B5Q79D4', 18),
 ('B00BD99JSQ', 18),
 ('B00BNI4A90', 18),
 ('B00CF7E0R0', 18),
 ('B00CHH0JF0', 18),
 ('B00CHR46JA', 18),
 ('B00CMF0SO4', 18),
 ('B00DJNCS6O', 18),
 ('B00DQZRQPI', 18),
 ('B00E0HITQ6', 18),
 ('B00E362W9O', 18),
 ('B00EH5UGR6', 18),
 ('B00EO302SO', 18),
 ('B00EQD5ZS4', 18),
 ('B00EVVGAC6', 18),
 ('B00FR6VL50', 18),
 ('B00GHY5F3K', 18),
 ('B00ISFNSBW', 18),
 ('B00001P4ZH', 17),
 ('B0007U00X0', 17),
 ('B000AP05BO', 17),
 ('B000EW8074', 17),
 ('B000EY5F5C', 17),
 ('B000IF4788', 17),
 ('B000IJY8DS', 17),
 ('B000RHZJN4', 17),
 ('B000TXEE14', 17),
 ('B001342KM8', 17),
 ('B0014KOB6Y', 17),
 ('B00166EUI0', 17),
 ('B001A4HAFS', 17),
 ('B001BM5XB2', 17),
 ('B001KN6WL2', 17),
 ('B001OORMVQ', 17),
 ('B001TH7GUA', 17),
 ('B001TH7GUK', 17),
 ('B0021L9C0A', 17),
 ('B0025VKUQ6', 17),
 ('B002HWRJBC', 17),
 ('B002LAS1DU', 17),
 ('B002YIG9AQ', 17),
 ('B003EO1H7E', 17),
 ('B003ES61EE', 17),
 ('B003LR7ME6', 17),
 ('B003VAK16O', 17),
 ('B003VAK1I2', 17),
 ('B003X26LYG', 17),
 ('B003YNO0LA', 17),
 ('B0041H8PH8', 17),
 ('B00426C56U', 17),
 ('B004HKJTT2', 17),
 ('B004I43F9C', 17),
 ('B004I5FL1G', 17),
 ('B004JWA70I', 17),
 ('B004LNXO28', 17),
 ('B004N62HZI', 17),
 ('B004R7P28W', 17),
 ('B004SBI2MU', 17),
 ('B004SGJCCO', 17),
 ('B0056C7SWK', 17),
 ('B005DSPLC6', 17),
 ('B005EM6IAA', 17),
 ('B005HGBEZ2', 17),
 ('B005IA843W', 17),
 ('B005IA844Q', 17),
 ('B005UA3I72', 17),
 ('B0074FGLUM', 17),
 ('B0076MBOC8', 17),
 ('B0079R8KO0', 17),
 ('B007VL8Y5E', 17),
 ('B007YXA5TC', 17),
 ('B0087NZ31S', 17),
 ('B008AST7R6', 17),
 ('B008MWBY6W', 17),
 ('B008PQJWBE', 17),
 ('B008R6OPJQ', 17),
 ('B00904JILO', 17),
 ('B0097BEF1S', 17),
 ('B009M27MB2', 17),
 ('B00ATM1MGA', 17),
 ('B00CRFK24K', 17),
 ('B00CRY250U', 17),
 ('B00D6XSRL2', 17),
 ('B00EIQTKAS', 17),
 ('B00FPKDPZC', 17),
 ('B00GMTN96U', 17),
 ('B00GO4GMAI', 17),
 ('B00HFFDDLG', 17),
 ('B00HZWJGS8', 17),
 ('B00JEVHZHC', 17),
 ('B00001WRSJ', 16),
 ('B000051299', 16),
 ('B0007DDK7A', 16),
 ('B000HZDF8W', 16),
 ('B000SMVQK8', 16),
 ('B000SY1PQ6', 16),
 ('B000V07N9U', 16),
 ('B000V5K3FG', 16),
 ('B000ZH98LU', 16),
 ('B00104XCVO', 16),
 ('B00127VF68', 16),
 ('B00137NMMW', 16),
 ('B0013AV4M4', 16),
 ('B0015BUJ0Y', 16),
 ('B00182CIB8', 16),
 ('B0018LX0DY', 16),
 ('B0019EQ1RW', 16),
 ('B0019X20R8', 16),
 ('B001AZP8EW', 16),
 ('B001IZYV3S', 16),
 ('B001L1H0SC', 16),
 ('B001O9X9EU', 16),
 ('B001TZUS98', 16),
 ('B00267S7XW', 16),
 ('B002AEU3EW', 16),
 ('B002DW99H8', 16),
 ('B002EUCU3O', 16),
 ('B002HGFKR8', 16),
 ('B002NEG0VO', 16),
 ('B002VPE21A', 16),
 ('B002VR6A9K', 16),
 ('B002ZV51DI', 16),
 ('B0036AWR8E', 16),
 ('B0036V9AGU', 16),
 ('B0038JE07O', 16),
 ('B003FG7IG0', 16),
 ('B003LVZO8S', 16),
 ('B003OC6LWM', 16),
 ('B003X7TRWE', 16),
 ('B003ZSHNGS', 16),
 ('B003ZUIHY8', 16),
 ('B0044WWLW0', 16),
 ('B0046W5EQI', 16),
 ('B004BDOGL6', 16),
 ('B004VM1T5S', 16),
 ('B004XQWGHW', 16),
 ('B004YDUZ22', 16),
 ('B0052YFYFK', 16),
 ('B0054JJ0QW', 16),
 ('B0054L8N7M', 16),
 ('B005DKZP6G', 16),
 ('B005H3Q57M', 16),
 ('B005LDLP8W', 16),
 ('B005LIDN14', 16),
 ('B005PUZOYM', 16),
 ('B005Y8BYOE', 16),
 ('B00609B3J2', 16),
 ('B006CFU61U', 16),
 ('B0079M711S', 16),
 ('B007FGYZFI', 16),
 ('B007FPIP2I', 16),
 ('B007GR44PM', 16),
 ('B007Q45EF4', 16),
 ('B007XOQUY6', 16),
 ('B00829THH8', 16),
 ('B008F537KC', 16),
 ('B008HU9R7W', 16),
 ('B008LTBITY', 16),
 ('B008O2HVIK', 16),
 ('B008YDUTRO', 16),
 ('B0096YOQRY', 16),
 ('B0097BEDOC', 16),
 ('B009A68TMQ', 16),
 ('B009AOFKUM', 16),
 ('B009NUWRF4', 16),
 ('B009SPUY5O', 16),
 ('B009X2OS72', 16),
 ('B009Z7KMUM', 16),
 ('B00A7FS3AW', 16),
 ('B00A81ICCE', 16),
 ('B00AAHT8JC', 16),
 ('B00B2HCLL6', 16),
 ('B00BEHQKPC', 16),
 ('B00BPHH8MA', 16),
 ('B00CD778LC', 16),
 ('B00CMQTVK0', 16),
 ('B00CO0DE0W', 16),
 ('B00CWBABP4', 16),
 ('B00CYX54C0', 16),
 ('B00CZ6WC3A', 16),
 ('B00D856NOG', 16),
 ('B00D96LZ6K', 16),
 ('B00DQZNWNI', 16),
 ('B00EI4V3X2', 16),
 ('B00ENY08VU', 16),
 ('B00EOI2SYK', 16),
 ('B00EPY0QVU', 16),
 ('B00EVIBN8U', 16),
 ('B00EXK14S0', 16),
 ('B00F1CRTLK', 16),
 ('B00FA4Y7N2', 16),
 ('B00G2TK76A', 16),
 ('B00GTGETFG', 16),
 ('B00HG1L334', 16),
 ('B00HHRP11C', 16),
 ('B00HNJWSH4', 16),
 ('B00HR78S2Q', 16),
 ('B00HR7FWUC', 16),
 ('B00IAKLM54', 16),
 ('B00IDYRZ0S', 16),

In [27]:
x = []
y = []
for item in product_frequency:
    x.append(item[0])
    y.append(item[1])

## Q3) Split the data randomly into train and test dataset. ( For example, split it in 70/30 ratio)

In [28]:
train_data, test_data = sklearn.model_selection.train_test_split(ratings_df_filtered, test_size = 0.30)

## Q4) Build Popularity Recommender model.

In [29]:
agg_product_ratings = ratings_df_filtered.groupby("itemID").agg({"rating":"sum"})
agg_product_ratings = agg_product_ratings.reset_index()
agg_product_ratings = agg_product_ratings.sort_values(by="rating",ascending=False)

In [30]:
def return_popular_products(userID, n=10):
    user_rated_items = ratings_df_filtered[ratings_df_filtered["userID"]==userID]["itemID"]
    user_recommendations = agg_product_ratings[~agg_product_ratings["itemID"].isin(user_rated_items)]
    return user_recommendations.head(n)

In [31]:
userID = "A17HMM1M7T9PJ1"
n = 20
print("TOP {} popular products based on their ratings are for user {}:\n".format(n, userID))
print(return_popular_products(userID, n))

TOP 20 popular products based on their ratings are for user A17HMM1M7T9PJ1:

           itemID  rating
24827  B003ES5ZUU   895.0
39003  B0088CJT4U   869.0
11078  B000N99BBC   797.0
38250  B007WTAJTO   771.0
38615  B00829TIEK   661.0
38611  B00829THK0   605.0
39338  B008DWCRQW   561.0
28761  B004CLYEDC   551.0
21982  B002R5AM7C   528.0
22460  B002V88HFE   498.0
38655  B00834SJNA   494.0
23378  B0034CL2ZI   491.0
22210  B002SZEOLG   480.0
22602  B002WE6D44   477.0
38656  B00834SJSK   469.0
38614  B00829TIA4   452.0
28763  B004CLYEFK   448.0
15538  B0019EHU8G   437.0
41618  B009SYZ8OC   425.0
31001  B004T9RR6I   422.0

## 5) Build Collaborative Filtering model.

In [172]:
reader = Reader(line_format='user item rating', rating_scale=(1, 5))

In [173]:
class MyDataset(dataset.DatasetAutoFolds):

    def __init__(self, df, reader):

        self.raw_ratings = [(uid, iid, r, None) for (uid, iid, r) in
                            zip(df['userID'], df['itemID'], df['rating'])]
        self.reader=reader

data = MyDataset(ratings_df_filtered, reader)

In [82]:
benchmark = []
data.split(n_folds=3)
# Iterate over all algorithms
for algorithm in [SVD(), SVDpp(), SlopeOne(), NMF(), NormalPredictor(), KNNBaseline(), KNNBasic(), KNNWithMeans(), KNNWithZScore(), BaselineOnly(), CoClustering()]:
    # Perform cross validation
    results = evaluate(algorithm, data, measures=['RMSE', 'MAE'])
    
    # Get results & append algorithm name
    tmp = pd.DataFrame.from_dict(results).mean(axis=0)
    tmp = tmp.append(pd.Series([str(algorithm).split(' ')[0].split('.')[-1]], index=['Algorithm']))
    benchmark.append(tmp)
    
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('rmse')

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Evaluating RMSE, MAE of algorithm SVD.

------------
Fold 1
RMSE: 0.9867
MAE:  0.7316
------------
Fold 2
RMSE: 0.9862
MAE:  0.7291
------------
Fold 3
RMSE: 0.9841
MAE:  0.7310
------------
------------
Mean RMSE: 0.9857
Mean MAE : 0.7305
------------
------------
Evaluating RMSE, MAE of algorithm SVDpp.

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
RMSE: 0.9861
MAE:  0.7278
------------
Fold 2
RMSE: 0.9869
MAE:  0.7253
------------
Fold 3
RMSE: 0.9858
MAE:  0.7279
------------
------------
Mean RMSE: 0.9863
Mean MAE : 0.7270
------------
------------
Evaluating RMSE, MAE of algorithm SlopeOne.

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
RMSE: 1.0964
MAE:  0.8091
------------
Fold 2
RMSE: 1.0962
MAE:  0.8082
------------
Fold 3
RMSE: 1.0956
MAE:  0.8099
------------
------------
Mean RMSE: 1.0961
Mean MAE : 0.8090
------------
------------
Evaluating RMSE, MAE of algorithm NMF.

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
RMSE: 1.1424
MAE:  0.8741
------------
Fold 2
RMSE: 1.1466
MAE:  0.8701
------------
Fold 3
RMSE: 1.1491
MAE:  0.8770
------------
------------
Mean RMSE: 1.1461
Mean MAE : 0.8737
------------
------------
Evaluating RMSE, MAE of algorithm NormalPredictor.

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
RMSE: 1.3607
MAE:  1.0180
------------
Fold 2
RMSE: 1.3744
MAE:  1.0291
------------
Fold 3
RMSE: 1.3694
MAE:  1.0267
------------
------------
Mean RMSE: 1.3681
Mean MAE : 1.0246
------------
------------
Evaluating RMSE, MAE of algorithm KNNBaseline.

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.0459
MAE:  0.7518
------------
Fold 2
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.0448
MAE:  0.7505
------------
Fold 3
Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.0430
MAE:  0.7516
------------
------------
Mean RMSE: 1.0446
Mean MAE : 0.7513
------------
------------
Evaluating RMSE, MAE of algorithm KNNBasic.

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.1149
MAE:  0.8046
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.1148
MAE:  0.8059
------------
Fold 3
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.1099
MAE:  0.8022
------------
------------
Mean RMSE: 1.1132
Mean MAE : 0.8042
------------
------------
Evaluating RMSE, MAE of algorithm KNNWithMeans.

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.0674
MAE:  0.7729
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.0661
MAE:  0.7710
------------
Fold 3
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.0642
MAE:  0.7720
------------
------------
Mean RMSE: 1.0659
Mean MAE : 0.7720
------------
------------
Evaluating RMSE, MAE of algorithm KNNWithZScore.

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.0712
MAE:  0.7700
------------
Fold 2
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.0690
MAE:  0.7678
------------
Fold 3
Computing the msd similarity matrix...
Done computing similarity matrix.
RMSE: 1.0675
MAE:  0.7685
------------
------------
Mean RMSE: 1.0693
Mean MAE : 0.7687
------------
------------
Evaluating RMSE, MAE of algorithm BaselineOnly.

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

------------
Fold 1
Estimating biases using als...
RMSE: 0.9823
MAE:  0.7368
------------
Fold 2
Estimating biases using als...
RMSE: 0.9833
MAE:  0.7347
------------
Fold 3
Estimating biases using als...
RMSE: 0.9803
MAE:  0.7356
------------
------------
Mean RMSE: 0.9820
Mean MAE : 0.7357
------------
------------
Evaluating RMSE, MAE of algorithm CoClustering.

------------
Fold 1

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

RMSE: 1.0780
MAE:  0.7683
------------
Fold 2
RMSE: 1.0897
MAE:  0.7727
------------
Fold 3
RMSE: 1.0825
MAE:  0.7699
------------
------------
Mean RMSE: 1.0834
Mean MAE : 0.7703
------------
------------

                     rmse       mae
Algorithm
BaselineOnly     0.981997  0.735664
SVD              0.985663  0.730543
SVDpp            0.986278  0.727021
KNNBaseline      1.044604  0.751276
KNNWithMeans     1.065912  0.771968
KNNWithZScore    1.069251  0.768743
CoClustering     1.083413  0.770297
SlopeOne         1.096082  0.809033
KNNBasic         1.113206  0.804236
NMF              1.146061  0.873736
NormalPredictor  1.368143  1.024600

In [83]:
pd.DataFrame(benchmark).set_index('Algorithm').sort_values('rmse')

                     rmse       mae
Algorithm
BaselineOnly     0.981997  0.735664
SVD              0.985663  0.730543
SVDpp            0.986278  0.727021
KNNBaseline      1.044604  0.751276
KNNWithMeans     1.065912  0.771968
KNNWithZScore    1.069251  0.768743
CoClustering     1.083413  0.770297
SlopeOne         1.096082  0.809033
KNNBasic         1.113206  0.804236
NMF              1.146061  0.873736
NormalPredictor  1.368143  1.024600

## BaselineOnly gave best rmse among all, so Lets use BaselineOnly for training.

## 6) Evaluate both the models. ( Once the model is trained on the training data, it can be used to compute the error (RMSE) on predictions made on the test data.)

In [105]:

print('Using ALS(Alternating least squares)')
bsl_options = {'method': 'als',
               'n_epochs': 5,
               'reg_u': 12,
               'reg_i': 5
               }
algo = BaselineOnly(bsl_options=bsl_options)
evaluate(algo, data, measures=['RMSE'], verbose=False)

Using ALS(Alternating least squares)
Estimating biases using als...

/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/evaluate.py:66: UserWarning: The evaluate() method is deprecated. Please use model_selection.cross_validate() instead.
  'model_selection.cross_validate() instead.', UserWarning)
/Users/mac/anaconda3/lib/python3.7/site-packages/surprise/dataset.py:193: UserWarning: Using data.split() or using load_from_folds() without using a CV iterator is now deprecated.
  UserWarning)

Estimating biases using als...
Estimating biases using als...

CaseInsensitiveDefaultDict(list,
                           {'rmse': [0.980047607740335,
                             0.9811552196886554,
                             0.9787144739202497]})

In [130]:
trainset, testset = train_test_split(data, test_size=.25)
algo = BaselineOnly(bsl_options=bsl_options)

In [135]:
predictions = algo.fit(trainset).test(testset)
accuracy.rmse(predictions)

Estimating biases using als...
RMSE: 0.9793

0.9793148111684349

## 7) Get top - K ( K = 5) recommendations. Since our goal is to recommend new products to each user based on his/her habits, we will recommend 5 new products.

In [174]:
userID = "A1QGNMC6O1VW39"
n = 5
print("TOP {} popular products based on their ratings are for user {}:\n".format(n, userID))
print(return_popular_products(userID, n))

TOP 5 popular products based on their ratings are for user A1QGNMC6O1VW39:

           itemID  rating
24827  B003ES5ZUU   895.0
39003  B0088CJT4U   869.0
11078  B000N99BBC   797.0
38250  B007WTAJTO   771.0
38615  B00829TIEK   661.0

In [136]:
def get_Iu(uid):
    """ return the number of items rated by given user
    args: 
      uid: the id of the user
    returns: 
      the number of items rated by the user
    """
    try:
        return len(trainset.ur[trainset.to_inner_uid(uid)])
    except ValueError: # user was not part of the trainset
        return 0
    
def get_Ui(iid):
    """ return number of users that have rated given item
    args:
      iid: the raw id of the item
    returns:
      the number of users that have rated the item.
    """
    try: 
        return len(trainset.ir[trainset.to_inner_iid(iid)])
    except ValueError:
        return 0
    
df = pd.DataFrame(predictions, columns=['uid', 'iid', 'rui', 'est', 'details'])
df['Iu'] = df.uid.apply(get_Iu)
df['Ui'] = df.iid.apply(get_Ui)
df['err'] = abs(df.est - df.rui)
best_predictions = df.sort_values(by='err')[:10]
worst_predictions = df.sort_values(by='err')[-10:]

In [137]:
best_predictions

,uid,iid,rui,est,details,Iu,Ui,err
24266,AGLT3L7ALL4O4,B000L47AHG,5.0,5.0,{'was_impossible': False},44,20,0.0
7335,A3963R7EPE3A7E,B002WE4HE2,5.0,5.0,{'was_impossible': False},50,44,0.0
20286,ABDR6IJ93HFIO,B00009EHJV,5.0,5.0,{'was_impossible': False},148,9,0.0
361,A3S3R88HA0HZG3,B003ES5ZUU,5.0,5.0,{'was_impossible': False},110,139,0.0
14017,A2NOW4U7W3F7RI,B00HWMPSF6,5.0,5.0,{'was_impossible': False},213,8,0.0
16882,A2XRMQA6PJ5ZJ8,B009USAJCC,5.0,5.0,{'was_impossible': False},203,14,0.0
22665,AYB4ELCS5AM8P,B004CLYEFK,5.0,5.0,{'was_impossible': False},126,78,0.0
7200,A3D0UM4ZD2CMAW,B005J7YA4G,5.0,5.0,{'was_impossible': False},87,10,0.0
3675,A1PV5T5S4D5NPI,B00316263Y,5.0,5.0,{'was_impossible': False},69,27,0.0
16933,A25FL6VLD7S23S,B0012IJYZQ,5.0,5.0,{'was_impossible': False},83,6,0.0

## 8) Summarise your insights.

#### 1. The above are the best predictions, and they are not lucky guesses. Because Ui is anywhere between 6 to 138, they are not really small, meaning that significant number of users have rated the target book.

#### 2. Colloborative filtering implemented above with the help of surprise library. It can be implemented manually and by manually calculating covariance matrix