In [38]:
#import package
import warnings 
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns
from math import sqrt
from scipy.stats import t
from scipy.stats import norm

In [12]:
titan = pd.read_csv('Titan.csv')
titan.head(6)

   SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0            1                         57                         62
1            2                        103                        122
2            3                         59                         54
3            4                         75                         82
4            5                         84                         84
5            6                         73                         86

In [13]:
titan.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
SALESPERSON,30.0,15.500000,8.803408,1.0,8.25,15.5,22.75,30.0
Old Scheme (in thousands),30.0,68.033333,20.455980,28.0,54.00,67.0,81.50,110.0
New Scheme (in thousands),30.0,72.033333,24.062395,32.0,55.00,74.0,85.75,122.0

In [14]:
#Find the mean of old scheme and new scheme column. (5 points)
titan["Old Scheme (in thousands)"].mean() * 1000

68033.33333333333

In [15]:
titan["New Scheme (in thousands)"].mean() * 1000

72033.33333333333

In [16]:
titan['Old Scheme (in thousands)'] = titan['Old Scheme (in thousands)'] * 1000
titan['New Scheme (in thousands)'] = titan['New Scheme (in thousands)'] * 1000
titan.columns = ['SalesPerson','OldScheme','NewScheme']
titan.head()

   SalesPerson  OldScheme  NewScheme
0            1      57000      62000
1            2     103000     122000
2            3      59000      54000
3            4      75000      82000
4            5      84000      84000

In [20]:
# 2 Use the five percent significance test over the data to 
#determine the p value to check new scheme has significantly raised outputs? (8 points)
st.ttest_rel(titan["NewScheme"], titan["OldScheme"])

Ttest_relResult(statistic=1.5559143823544377, pvalue=0.13057553961337662)

In [21]:
# hence P value is pvalue=0.13057553961337662

In [22]:
#3) What conclusion does the test (p-value) lead to? (2 points)

In [23]:
# since p value > 0.05, so we can accept null hypothesis and reject alternate hypothesis; 
#There is a significant change over after new scheme implemented in sales

In [24]:
# 4) Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the 
# scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

In [ ]:
# 4 a) The probability of a type 1 error? (2 points)

In [ ]:
# Answer : Probability of Type I error = significant level = 0.05 or 5%

In [ ]:
# 4 b) What is the p- value of the hypothesis test if we test for a difference of $5000? (8 points)

In [26]:
titan["CompareSales"] = titan["NewScheme"] - titan["OldScheme"]
titan.head()

   SalesPerson  OldScheme  NewScheme  CompareSales
0            1      57000      62000          5000
1            2     103000     122000         19000
2            3      59000      54000         -5000
3            4      75000      82000          7000
4            5      84000      84000             0

In [27]:
comparesales_mean = titan["CompareSales"].mean()
comparesales_mean

4000.0

In [28]:
comparesales_std = titan["CompareSales"].std()
comparesales_std

14081.046199376151

In [29]:
comparesales_se = comparesales_std/sqrt(30) # sample size is 30
comparesales_se

2570.8355455569017

In [30]:
tstat = (comparesales_mean - 5000)/comparesales_se
tstat

-0.38897859558860937

In [31]:
p_value = 1- st.t.cdf(tstat, df=29) # df = n-1 = 30-1 = 29
p_value # p-value of avg diff more than 5000

0.6499332543693357

In [32]:
#  c) Power of the test (5 points)

In [ ]:
# since P value = 0.6499, and degree of freedom df = 29

In [35]:
# finding t critical value using student t test
# define probability
p = 0.6499
df = 29
# retrieve value <= probability
value = t.ppf(p, df)
print(value)
t_value = t.cdf(value, df)
print(t_value)

0.3888876925908805
0.6498999996651291

In [39]:
# finding t critical value using Gaussian 
# define probability
p = 0.6499
# retrieve value <= probability
value = norm.ppf(p)
print(value)
# confirm with cdf
t_value = norm.cdf(value)
print(t_value)

0.38505050131866764
0.6499

In [44]:
t_critical = t.ppf(1-0.05, 29)

In [45]:
t_critical

1.6991270265334972

In [46]:
#finding xbar value
mu0 = 0
xbar = mu0 + t_critical * comparesales_se
xbar

4368.176156228719

In [47]:
t_stat = ( xbar - 5000 ) / comparesales_se
t_stat

-0.2457659514095497

In [48]:
st.t.cdf(t_stat, df=29)

0.40379725247943166

In [65]:
#Hence power od test value 0.40379725247943166